/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Cerebri+Sans:wght@400;700&display=swap');

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Cerebri Sans', sans-serif; /* Set the font family here */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the app takes the full height of the viewport */
}

.main-content {
  flex-grow: 1; /* This makes the main section grow and fill the available space */
  padding: 20px;
  text-align: center;
}
